* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0px;
}

/* global */

.count {
    color: red;
}

.nameItalic{
    font-size: 12px;
    font-style: italic;
}

/* header */

header{
    padding: 10px 0 10px 0;
    background: #f4f4f4;
    color: #35424a;
    border-bottom: rgb(245, 104, 127) 2px solid;
}

header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: rgb(245, 104, 127) 2px solid;
}

header b{
    font-size: 20px;
}

/* input */

.input {
    padding: 10px 0 10px 0;
}

.input .container{
    display: flex;
}

.input .inputDiv{
    width: 90%;
}

.input .sendBtnDiv{
    width: 10%;
}

.input .inputDiv input{
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border: #35424a 1px solid;
}

.input .sendBtnDiv button{
    width: 100%;
    font-size: 12px;
    padding: 10px 0 12px 0px;
    border: none;
    background: #35424a;
    color: #fff;
}

.input .sendBtnDiv .loadBtn{
    display: none;
}

.input .sendBtnDiv .load{
    width: 12px;
    height: 12px;
}

/* convos */

.convos{
    padding: 10px 0 10px 0;
}

.convos .me{
    padding: 5px 0 5px 0;
    display: flex;
}

.convos .me .space{
    width: 20%;
}

.convos .me .txt{
    width: 80%;
}

.convos .me p{
    font-size: 12px;
    background: rgb(41, 152, 255);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.convos .bot{
    padding: 5px 0 5px 0;
    display: flex;
}

.convos .bot .img{
    width: 10%;
}

.convos .bot .reply{
    width: 80%;
}

.convos .bot .img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: rgb(245, 104, 127) 2px solid;
}

.convos .bot .reply p{
    font-size: 12px;
    background: rgb(211, 245, 255);
    color: #35424a;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.convos .bot .reply .inputTask{
    font-size: 12px;
    padding: 10px 0 10px 0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background: rgb(211, 245, 255);
}

.convos .bot .reply .inputTask input{
    width: 100%;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: #35424a 1px solid;
}

.convos .bot .reply .inputTask button{
    width: 100%;
    font-size: 12px;
    padding: 10px;
    background: #35424a;
    color: #fff;
    border: none;
    border-radius: 20px;
}

/* tasks */

.actions {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    margin-top: 20px;
    background: #35424a;
    color: #fff;
    border: none;
    border-radius: 20px;
}

/* modal */

.modal-header,
.modal-footer{
    background: rgb(211, 245, 255);
}

.modal-dialog p{
    font-size: 12px;
}

.modal-dialog button{
    font-size: 12px;
    margin-top: 10px;
}

.allTaskCounter{
    font-size: 11px;
    color: red;
}

/* edit page */

.editSection {
    padding: 10px 0 10px 0;
}

.editSection input{
    width: 100%;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: #35424a 1px solid;
}

.editSection button{
    font-size: 12px;
}